<!DOCTYPE html>
<html>

  {% include head.html %}

  {% assign p5_version = '0.5.16' %}
  {% if page.p5 %}
    {% for lib in page.p5 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/{{ p5_version }}/{{ lib }}.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/addons/p5.dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/addons/p5.sound.js"></script>
  -->
  {% endfor %}
  {% endif %}

  {% if page.sketches %}
    {% for sketch in page.sketches %}
      <script src='{{ site.baseurl }}/p5js/{{ sketch }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div id="sketch-holder">
          <!--  sketch will go here! -->
        </div>
      </div>
    </div>
    
    {% include footer.html %}

  </body>

</html>


